use anyhow::Result;
use pulumi_gestalt_rust::*;

fn main() {
    pulumi_gestalt_rust::run(pulumi_main).unwrap();
}

fn pulumi_main(context: &pulumi_gestalt_rust::Context) -> Result<()> {
    {{CONTENT}}
    Ok(())
}